@{
    ViewBag.Title = "Index";
}
@using summercamp.Core.Entidades
@model List<Participante>
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Participantes</h1>
            </div>
        </div>

        
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        
                        <a href="@Url.Action("Registro","Participante",new {id = 0})" class="btn btn-primary">Nuevo Participante</a>

                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Telefono</th>
                                        <th>Correo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Participante p in Model)
                                    {
                                        <tr>
                                            <td>
                                                @p.Nombre
                                            </td>

                                            <td>
                                                @p.Telefono
                                            </td>
                                            <td>
                                                @p.Correo
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Registro", "Participante", new {id= p.Id})" class=" btn btn-primary">Editar</a>
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Eliminar", "Participante", new {id= p.Id})" class=" btn btn-primary">Eliminar</a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

